server:
  address: 0.0.0.0
spring:
  application:
    name: PosthorseCloudDelivery
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 123456

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true